{% extends "base.html" %}
{% load tailwind_filters %}


{% block content %}


<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <div class="lg:w-1/2 w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
          <h2 class="text-sm title-font text-gray-500 tracking-widest">LEAD</h2>
            <h1 class="text-gray-900 text-3xl title-font font-medium mb-4">
                {{lead.first_name}} {{lead.last_name}}
            </h1>
          <div class="flex mb-4">
  
            <a class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">
                Assign this agent to this lead
            </a>
      
          </div>
              <form class="" method="post">
                  {% csrf_token %}
                  {{ form|crispy }}
                  <br>
                <button type="submit" 
                class="w-full text-white rounded-md bg-indigo-500 hover:bg-indigo-600 px-3 py-1">
                    Submit
                </button>
              </form>
        </div>
       
      </div>
    </div>
  </section>
{% endblock content %}